<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"> <i
          class="fas fa-plus"></i> </button>
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Jenis</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < categori.length; i++) { %>
            <tr>
              <td> <%= i + 1 %> </td>
              <td> <%= categori[i].jenis %> </td>
              <td>
                <form action="/categori/<%= categori[i].id %>?_method=DELETE" method="POST">
                  <a href="javascript:void()" class="btn btn-warning btn-circle btn-sm btn-update mr-3" data-id="<%= categori[i].id %>" data-jenis="<%= categori[i].jenis %>" ><i class="fas fa-pen"></i></a>
                  <button type="submit" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-trash"></i> </button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>