<div class="card shadow mb-4 mt-2">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Categori</th>
            <th>Toko</th>
            <th>Gambar</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < produk.length; i++) { %>
            <tr>
              <td> <%= i + 1 %></td>
              <td> <%= produk[i].nama %></td> </td>
              <td> <%= produk[i].harga %> </td>
              <td> <%= produk[i].categoriId.jenis %> </td>
              <td> <%= produk[i].tokoId.nama %> </td>
              <td> <img src="<%= produk[i].gambar %>" alt="gambar" width="80px"> </td>
              <td>
                <button class="btn btn-success"><i class="fas fa-pen"></i></button>
                <button class="btn btn-danger"> <i class="fas fa-trash"></i> </button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>